<!DOCTYPE html>
<html lang="en">

<% include partials/head %>

<body>

    <% include partials/svg %>

    <!-- Header Box -->
    <section class="main-skills">

        <div class="personal">
            <h1><%= account.name %></h1>
            <div class="header__title"><%= resume.category %></div>

            <% include partials/social %>

            <section class="skills">
                <ul class="skilllist">
                    <% resume.skills.forEach(function(skill) { %>
                        <li class="skilllist__skill">
                            <svg class="skill__icon">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                xlink:href="#icon-html-five"></use>
                            </svg>
                            <div class="skill__text">
                                <%= skill %>
                            </div>
                        </li>
                    <% }) %>
                </ul>
            </section>
        </div>

        <div class="headshot">
            <div class="headshot__img"></div>
        </div>

    </section>

    <section class="projects">
        <h2 class="section-title">
            Projects
        </h2>

        <div class="projects__list">
            <% resume.projects.forEach(function(project) { %>
                <div class="item">
                    <h3><%= project.name %></h3>
                    <ul class="links">
                        <li>
                            <a href="<%= project.url %>">
                                <svg class="link__icon">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-sphere"></use>
                                </svg>
                                <div class="link-txt"><%= project.name %></div>
                            </a>
                        </li>
                        <li>
                            <a href="<%= project.repo %>">
                                <svg class="link__icon">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-github"></use>
                                </svg>
                                <div class="link-txt">Github Repository</div>
                            </a>
                        </li>
                    </ul>
                    <p class="projects__description"><%= project.description %></p>
                    <ul class="skilllist">
                        <% project.skills.forEach(function(skill) { %>
                            <li>
                                <div class="skilllist__skill">
                                    <svg class="skill__icon">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-html-five"></use>
                                    </svg>
                                    <div class="skill__text">
                                        <%= skill %>
                                    </div>
                                </div>
                            </li>
                        <% }) %>
                    </ul>
                </div>
            <% }) %> <!-- resume.projects.forEach -->
        </div>
    </section>

    <section class="work">
        <h2 class = "section-title">
            Employment History
        </h2>
        <% resume.work.forEach(function(job) { %>
            <div class="item">
                <h3><%= job.name %></h3>
                <p class="work__duration"><%= job.duration %></p>
                <p class="work__summary"><%= job.summary %></p>
                <ul class="links">
                    <li>
                        <a href="<%= job.url %>">
                            <svg class="link__icon">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-sphere"></use>
                            </svg>
                            <div class="link-txt"><%= job.name %></div>
                        </a>
                    </li>
                </ul>
            </div>
        <% }) %>
    </section>


</body>

</html>
