<!DOCTYPE html>
<html lang="en">

<% include partials/head %>

<body>

    <% include partials/svg %>

    <!-- Header Box -->
    <header class="header">

        <div class="headshot"></div>

        <h1><%= account.name %></h1>
        <div class="header__title"><%= resume.category %></div>

        <% include partials/social %>

        <hr>

    </header>
    <!-- /Header Box -->

    <div class="resume">

        <section class="skills">
            <div>
                <svg class="section__icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-list2"></use>
                </svg>
                <h2>
                    Skills
                </h2>
            </div>
            <ul>
                <% resume.skills.forEach(function(skill) { %>
                    <li><%= skill %></li>
                <% }) %>
            </ul>
        </section>

        <section class="summary">
            <div>
                <svg class="section__icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-address-book"></use>
                </svg>
                <h2>
                    Profile
                </h2>
            </div>
            <p>
                <%= resume.summary %>
            </p>
        </section>

        <section class="projects">
            <div>
                <svg class="section__icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-embed2"></use>
                </svg>
                <h2>
                    Projects
                </h2>
            </div>

            <% resume.projects.forEach(function(project) { %>
                <div class="item">
                    <h3><%= project.name %></h3>
                    <p><%= project.description %></p>
                    <ul class="skilllist">
                        <% project.skills.forEach(function(skill) { %>
                            <li><%= skill %></li>
                        <% }) %>
                    </ul>
                    <ul class="links">
                        <li>
                            <a href="<%= project.url %>">
                                <svg class="link__icon">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-sphere"></use>
                                </svg>
                                <div class="link-txt"><%= project.name %></div>
                            </a>
                        </li>
                        <li>
                            <a href="<%= project.repo %>">
                                <svg class="link__icon">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-github"></use>
                                </svg>
                                <div class="link-txt">Github Repository</div>
                            </a>
                        </li>
                    </ul>
                </div>
            <% }) %> <!-- resume.projects.forEach -->
        </section>

        <section class="work">
            <div>
                <svg class="section__icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-office"></use>
                </svg>
                <h2>
                    Employment History
                </h2>
            </div>
            <% resume.work.forEach(function(job) { %>
                <div class="item">
                    <h3><%= job.name %></h3>
                    <p><%= job.duration %></p>
                    <p><%= job.summary %></p>
                    <ul class="links">
                        <li>
                            <a href="<%= job.url %>">
                                <svg class="link__icon">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-sphere"></use>
                                </svg>
                                <div class="link-txt"><%= job.name %></div>
                            </a>
                        </li>
                    </ul>
                </div>
            <% }) %>
        </section>

        <section class="education">
            <div>
                <svg class="section__icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-books"></use>
                </svg>
                <h2>
                    Education and Certifications
                </h2>
            </div>
            <% resume.education.forEach(function(school) { %>
                <div class="item">
                    <h3><%= school.name %></h3>
                    <p><%= school.duration %></p>
                    <p><%= school.credential %></p>
                </div>
            <% }) %>
        </section>
    </div><!-- resume -->

</body>

</html>
